form-listbox {
	display: block;
	margin: 0;

	module-scrollarea {
		max-height: 40rem;
		background-color: var(--color-background);
	}

	[role="listbox"] {
		display: flex;
		flex-direction: column;
		gap: 0;
		list-style: none;
		padding: 0;
		margin: 0;
		background: var(--color-input);
	}

	[role="group"] {
		&:not(:has(button:not([hidden]))) {
			display: none;
		}

		&:not(:last-child) {
			margin-block-end: var(--space-s);
		}
	}

	[role="presentation"] {
		position: sticky;
		top: 0;
		background-color: var(--color-background);
		padding: var(--space-xs) var(--space-s);
		font-size: var(--font-size-xs);
		font-weight: var(--font-weight-bold);
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	[role="option"] {
		display: block;
		width: 100%;
		text-align: left;
		margin: 0;
		padding: var(--space-xs) var(--space-s);
		border: 0;
		font-size: var(--font-size-s);
		line-height: var(--line-height-s);
		background: transparent;
		color: var(--color-text);
		cursor: pointer;
		transition: background var(--transition-short) var(--easing-inout);

		&[aria-selected="true"] {
			background: var(--color-selection-selected);
			color: var(--color-text-inverted);
		}

		&:hover {
			background: var(--color-selection-hover);

			&[aria-selected="true"] {
				background: var(--color-selection-active);
			}
		}
	}
}
