form-checkbox {
	flex-grow: 1;
	border-radius: var(--space-xs);

	&:has(:focus-visible) {
		box-shadow: 0 0 var(--space-xxs) 2px var(--color-selection);
	}

	& input:focus {
		outline: none;
		box-shadow: none;
	}

	& label {
		font-size: var(--font-size-s);
	}

	&.checkbox label {
		display: flex;
		gap: var(--space-s);
		line-height: var(--input-height);
		cursor: pointer;
		align-items: center;

		&::before {
			display: inline-block;
			box-sizing: border-box;
			content: '';
			text-align: center;
			width: var(--space-l);
			height: var(--space-l);
			line-height: var(--space-l);
			border: 1px solid var(--color-border);
			border-radius: var(--space-xs);
			background-color: var(--color-secondary);
		}

		&:hover::before {
			background-color: var(--color-secondary-hover);
			opacity: var(--opacity-solid);
		}

		&:active::before {
			background-color: var(--color-secondary-active);
		}
	}

	&.checkbox[checked] label {
		&::before {
			color: var(--color-text-inverted);
			background-color: var(--color-selection-selected);
			border-color: var(--color-selection-active);
			text-shadow: 0 0 var(--space-xs) var(--color-success-active);
			content: '✔︎';
		}

		&:hover::before {
			background-color: var(--color-selection-active);
		}

		&:active::before {
			background-color: var(--color-selection-active);
		}
	}

	&.todo label {
		display: flex;
		gap: var(--space-s);
		line-height: var(--input-height);
		cursor: pointer;
		align-items: center;

		&::before {
			display: inline-block;
			box-sizing: border-box;
			content: '';
			text-align: center;
			width: var(--space-l);
			height: var(--space-l);
			line-height: var(--space-l);
			border: 1px solid var(--color-border);
			border-radius: var(--space-xs);
			background-color: var(--color-secondary);
		}

		&:hover::before {
			background-color: var(--color-secondary-hover);
			opacity: var(--opacity-solid);
		}

		&:active::before {
			background-color: var(--color-secondary-active);
		}
	}

	&.todo[checked] label {
		opacity: var(--opacity-translucent);

		& span {
			text-decoration: line-through;
		}

		&::before {
			color: var(--color-text-inverted);
			background-color: var(--color-success);
			border-color: var(--color-success-active);
			text-shadow: 0 0 var(--space-xs) var(--color-success-active);
			content: '✔︎';
		}

		&:hover::before {
			background-color: var(--color-success-hover);
		}

		&:active::before {
			background-color: var(--color-success-active);
		}
	}

	&.toggle label {
		--toggle-knob-size: calc(var(--space-l) * 2);

		display: flex;
		align-items: center;
		gap: var(--space-s);
		cursor: pointer;

		&::before {
			display: inline-block;
			flex-shrink: 0;
			box-sizing: border-box;
			content: '';
			width: calc(var(--space-l) * 2);
			height: var(--space-l);
			line-height: var(--space-l);
			padding-left: var(--space-l);
			border-radius: calc(var(--input-height) / 2);
			background-color: var(--color-secondary);
			color: var(--color-text-inverted);
			border: 1px solid var(--color-border);
			background-image: radial-gradient(
				circle,
				var(--color-input) 33%,
				transparent 34%
			);
			background-size: var(--toggle-knob-size);
			background-position: left calc(-0.5 * var(--space-l)) center;
			background-repeat: no-repeat;
			transition:
				background-color var(--transition-short) var(--easing-inout),
				border-color var(--transition-short) var(--easing-inout),
				background-position var(--transition-short) var(--easing-inout);
		}

		&:hover::before {
			background-color: var(--color-secondary-hover);
		}

		&:active::before {
			background-color: var(--color-secondary-active);
		}
	}

	&.toggle[checked] label {
		&::before {
			background-color: var(--color-selection-selected);
			border-color: var(--color-selection-active);
			content: '✔︎';
			text-shadow: 0 0 var(--space-xs) var(--color-success-active);
			padding-left: var(--space-s);
			background-position: left calc(0.5 * var(--space-l)) center;
		}

		&:hover::before {
			background-color: var(--color-selection-active);
		}

		&:active::before {
			background-color: var(--color-selection-active);
		}
	}
}
