module-list {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);

	& form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--space-m);
		justify-content: space-between;
	}

	ol,
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		gap: 0;

		&:empty {
			display: none;
		}
	}

	& li {
		display: flex;
		align-items: center;
		gap: var(--space-m);
		padding: var(--space-s) 0;
		border-bottom: 1px solid var(--color-border-soft);
		justify-content: space-between;
	}
}

@container (width > 32rem) {
	module-list {
		& form {
			flex-direction: row;
			align-items: flex-end;
		}
	}
}
