module-carousel {
	display: flex;
	position: relative;
	overflow: hidden;
	margin-block-end: var(--space-l);
	border-radius: var(--space-s);
	container: carousel / inline-size;

	.slides {
		display: flex;
		align-items: center;
		width: 100%;
		min-height: calc(100cqi / (16 / 9));
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		overscroll-behavior-x: none;
	}

	[role='tabpanel'] {
		width: 100%;
		height: calc(100% - var(--input-height));
		padding-bottom: var(--input-height);
		text-align: center;
		scroll-snap-align: start;
		flex: 0 0 100%;

		&.blue {
			background-color: var(--color-blue-20);
			--color-text: var(--color-blue-90);
			--color-text-soft: var(--color-blue-80);
		}

		&.purple {
			background-color: var(--color-purple-20);
			--color-text: var(--color-purple-90);
			--color-text-soft: var(--color-purple-80);
		}

		&.pink {
			background-color: var(--color-pink-20);
			--color-text: var(--color-pink-90);
			--color-text-soft: var(--color-pink-80);
		}

		&.orange {
			background-color: var(--color-orange-20);
			--color-text: var(--color-orange-90);
			--color-text-soft: var(--color-orange-80);
		}

		&.green {
			background-color: var(--color-green-20);
			--color-text: var(--color-green-90);
			--color-text-soft: var(--color-green-80);
		}

		& h3 {
			display: block;
		}

		& a[href].anchor {
			justify-content: center;
			padding: 0;
		}

		.slide-content {
			width: 80%;
			margin: 0 auto 0;
			padding-bottom: var(--space-xl);
			text-align: left;
		}
	}

	> nav {
		> button {
			position: absolute;
			top: 2%;
			height: 96%;
			border: 0;
			border-radius: var(--space-xs);
			background: transparent;
			padding: var(--space-m);
			font-size: var(--font-size-xl);
			color: var(--color-text);
			opacity: var(--opacity-dimmed);
			transition: opacity var(--transition-short) var(--easing-inout);
			cursor: pointer;

			&:hover,
			&:active,
			&:focus {
				opacity: var(--opacity-solid);
				background-color: rgb(0 0 0 / 0.05);
			}

			&:active {
				background-color: rgb(0 0 0 / 0.1);
			}

			&.prev {
				left: 1%;
			}

			&.next {
				right: 1%;
			}
		}

		[role='tablist'] {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			display: flex;
			justify-content: center;
			margin-block: var(--space-m);

			[role='tab'] {
				width: var(--space-l);
				height: var(--space-l);
				border: 0;
				padding: 0;
				font-size: var(--font-size-l);
				line-height: var(--line-height-xs);
				border-radius: 50%;
				color: var(--color-text);
				background-color: transparent;
				opacity: var(--opacity-translucent);
				transition: opacity var(--transition-short) var(--easing-inout);
				cursor: pointer;

				&:hover {
					opacity: var(--opacity-dimmed);
				}

				&[aria-selected='true'] {
					opacity: var(--opacity-solid);
				}
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	module-carousel [role='tabpanel'] {
		&.blue {
			background-color: var(--color-blue-80);
			--color-text: var(--color-blue-10);
			--color-text-soft: var(--color-blue-20);
		}

		&.purple {
			background-color: var(--color-purple-80);
			--color-text: var(--color-purple-10);
			--color-text-soft: var(--color-purple-20);
		}

		&.pink {
			background-color: var(--color-pink-80);
			--color-text: var(--color-pink-10);
			--color-text-soft: var(--color-pink-20);
		}

		&.orange {
			background-color: var(--color-orange-80);
			--color-text: var(--color-orange-10);
			--color-text-soft: var(--color-orange-20);
		}

		&.green {
			background-color: var(--color-green-80);
			--color-text: var(--color-green-10);
			--color-text-soft: var(--color-green-20);
		}
	}
}
