module-list {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);

	& form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--space-m);
		justify-content: space-between;
	}

	& ol,
	& ul {
		list-style: none;
		padding: 0;
		margin: 0;
		gap: 0;

		&:empty {
			display: none;
		}
	}

	& li {
		display: flex;
		align-items: center;
		gap: var(--space-m);
		padding: var(--space-s) 0;
		border-bottom: 1px solid var(--color-border-soft);
		justify-content: space-between;

		> span {
			line-height: var(--line-height-s);
		}

		> span,
		> form-textbox {
			flex: 1;
		}

		&.dragging {
			position: fixed;
			z-index: 100;
			box-sizing: border-box;
			background-color: var(--color-background);
			opacity: var(--opacity-dimmed);
			box-shadow: 0 var(--space-xxs) var(--space-s) var(--color-shadow);
			padding-inline: var(--space-s);

			& button.reorder:not(:disabled) {
				cursor: grabbing;
			}
		}

		&.drop-marker {
			border: 2px dashed var(--color-selection);
			border-radius: var(--space-xs);
			background-color: var(--color-selection-hover);
			padding: 0;
		}
	}

	& button.reorder {
		height: var(--input-height);
		min-inline-size: var(--input-height);
		border-radius: var(--space-xs);
		background: none;
		border: none;
		padding: 0;

		&:disabled {
			opacity: var(--opacity-translucent);
		}

		&:not(:disabled) {
			cursor: grab;
			opacity: var(--opacity-solid);
			color: var(--color-border);

			&:hover {
				background-color: var(--color-overlay-hover);
				color: var(--color-text-soft);
			}

			&:active {
				background-color: var(--color-overlay-active);
				color: var(--color-text-soft);
			}
		}
	}
}

@container (width > 32rem) {
	module-list {
		& form {
			flex-direction: row;
			align-items: flex-end;
		}
	}
}
