section-hero {
	--color-text-soft: var(--color-primary-30);

	display: grid;
	grid-column: fullwidth;
	grid-template-columns: inherit;
	background-color: var(--color-primary);
	color: var(--color-primary-text);
	margin-block: 0;
	padding-block: var(--space-xxl);

	& h1 {
		grid-column: content;
		margin-bottom: var(--space-xl);
	}

	> div {
		grid-column: content;
	}

	.lead p {
		font-size: var(--font-size-l);
	}

	& nav {
		display: block;
		background: var(--color-background);
		color: var(--color-text);
		padding: var(--space-m);
		border-radius: var(--space-s);

		& h2 {
			margin: 0;
			padding: 0;
			font-size: var(--font-size-s);
			margin-bottom: var(--space-s);
		}

		& ol {
			list-style-type: none;
			padding-left: 0;
			margin: 0;
			display: flex;
			flex-direction: column;
			gap: var(--space-s);
		}

		& li {
			padding: 0;
			margin: 0;
		}

		& a {
			display: inline-block;
			text-decoration: none;
			line-height: var(--line-height-s);
		}
	}
}

@media (prefers-color-scheme: dark) {
	section-hero {
		--color-text-soft: var(--color-primary-70);
	}
}

@media screen and (min-width: 48em) {
	section-hero {
		& h1 {
			grid-column: breakout;
		}

		> div {
			display: grid;
			grid-column: breakout;
			grid-template-columns: 2fr 1fr;
			gap: var(--space-xl);
		}
	}
}
